<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InvoiceSystem</title>
    <link rel="stylesheet" href="../../bootstrap/dist/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/product.css">
</head>
<body>
    <header>
        {{>_navbar}}
        
    </header>
    <div>{{{body}}}</div>
    <script src="../../jquery/dist/jquery.min.js"></script>
    <script src="../../bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/29fa3e0479.js"></script>
</body>
</html>