<h1>Welcome to the invoice system</h1>

<div class="container" style="margin:0 auto">
    <center>
    
        <div class="card" style="max-width: 500px;">
            <h3 class="my-4">Signin with gooogle</h3>
    <div class="card-body">
   <a style="background-color:#d4493e;paddding:10px;color:white; width:150px" class="nav-link" href="/auth/google">Login With &nbsp;<i class="fa fa-google-plus" aria-hidden="true"></i></a>
    </div>
</div>
    
    </center>
</div>

              
              
    
                